*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1000px;
    margin: auto;
    font-size: 24px;
}

h1{
    padding-top: 100px;
}


.addBooks{
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.listHeader{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 50px
}

.eachBook{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    padding-top: 10px;
}

button{
    align-self: center;
    justify-self: center;
    width: 100px;
    height: 30px;
    font-size: 20px;
}

form > button{
    background-color: rgb(93, 197, 231);
    color: rgb(10, 6, 6);
}

.eachBook > button{
    background-color: rgb(250, 54, 54);
}
.eachBook  .switchRead{
    background-color: lightblue;
    width: 100px;
}

.eachBook  .notread{
    background-color: red;
}

li{
    padding: 20px 0;
    border-top: 1px solid rgba(104, 102, 102, .5);
    border-bottom: 1px solid rgba(104, 102, 102, .5);
}