*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 800px;
    margin: auto;
}

h1{
    padding-top: 100px;
}

.addBooks{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.listHeader{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 50px
}

.bookList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    padding-top: 10px;
}

button{
    align-self: center;
    justify-self: center;
    width: 100px;
    height: 25px;
}

form > button{
    background-color: rgb(93, 197, 231);
    color: rgb(10, 6, 6);
}

.bookList > button{
    background-color: rgb(250, 54, 54);
}

li{
    padding: 20px 0;
    border-top: 1px solid rgba(104, 102, 102, .5);
    border-bottom: 1px solid rgba(104, 102, 102, .5);
}